@using Microsoft.AspNetCore.Identity
@using CryptoSimulator.Data

@inject SignInManager<ApplicationUser> SignInManager

<div class="px-2">
    <ul class="nav nav-pills flex-column gap-1">
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center py-3 px-4" href="Account/Manage" Match="NavLinkMatch.All">
                <i class="bi bi-person me-3 fs-5"></i> Profile
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center py-3 px-4" href="Account/Manage/Email">
                <i class="bi bi-envelope me-3 fs-5"></i> Email
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center py-3 px-4" href="Account/Manage/ChangePassword">
                <i class="bi bi-key me-3 fs-5"></i> Password
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center py-3 px-4" href="Account/Manage/TwoFactorAuthentication">
                <i class="bi bi-shield-check me-3 fs-5"></i> Security
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center py-3 px-4" href="Account/Manage/PersonalData">
                <i class="bi bi-database me-3 fs-5"></i> Personal Data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
